.about-title {
  color: #b4a6a6;
  font-size: 24px;
  margin-bottom: 20px;
}

.section-title {
  color: #8f6767;
  font-size: 20px;
  margin-bottom: 15px;
}

.about-description,
.section-description,
.company-name,
.about-summary {
  font-size: 16px;
  margin-bottom: 15px;
}

.image-container {
  text-align: center;
  margin-bottom: 20px;
  display: inline-block;
}

.image-container img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.about-page {
  max-width: 800px;
  margin: auto;
}
/* Light Mode */
.about-page.light-mode {
  background-color: #f8f6f6;
}

.about-title.light-mode {
  color: #222;
}

.section-title.light-mode {
  color: #444;
}

.about-description.light-mode,
.section-description.light-mode,
.company-name.light-mode,
.about-summary.light-mode {
  color: #666;
}

.about-page.dark-mode {
  background-color: #222;
}

.about-title.dark-mode {
  color: #b4a6a6;
}

.section-title.dark-mode {
  color: #8f6767;
}

.about-description.dark-mode,
.section-description.dark-mode,
.company-name.dark-mode,
.about-summary.dark-mode {
  color: #f8f6f6;
}
.select-container {
  margin-bottom: 20px;
}

.select-subject {
  width: 300px;
}
